.DS_Store
node_modules/
/dist/
build/win-unpacked/
build/win-ia32-unpacked/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

build/icb-helper Setup 1.0.0.exe.blockmap
build/icb-helper32.exe
build/builder-effective-config.yaml
build/icb-helper Setup 1.0.0.exe
build/icb-helper Setup 1.0.0.exe
build/latest.yml
build/icb-helper Setup 1.0.0.exe
